@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body{
/*
	background-image: linear-gradient(
		0deg, 
		rgba(248, 248, 248, 1) 23%,
		rgba(175, 231, 194, 0.49) 85%
	);
*/
	
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0; /*remove any margin*/
}

.music-container{
	background-color: #fff; /*equivalent to #ffffff*/
	border-radius: 15px;
	box-shadow: 0px 20px 20px 0px rgba(179, 179, 179, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container{
	position: relative; /*We are gonna use position absolute for the img inside it*/
	width: 110px;
}

.img-container img{
    position: absolute; /*we are gonna make it fit the parent*/
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit; /*take the exact value from the parent  so if the parent's width is 50% (of the grandparent) the child's width is 50% of the parent, so 25% of the grandparent*/
    
    
/*    position absolute -> place the bottom and left to the position (0, 0) of its parent, so the image will fly up and to the right*/
    bottom: 0;
    left: 0;
    
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}


