#add-fav{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

#remove-fav{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.single-mv-board{
    margin-top: 50px;
    padding: 30px;
    background-color: transparent !important;
}

/*
.relate-video{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.relate-video-item{
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.single-mv-title-and-views{
    position: absolute;
    
}*/
