* {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}


/*body*/

body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h3 {
	text-shadow: 2px 1px grey;
}


/*navbar*/

.navbar {
	background-color: white;
}

.navbar-brand {
	font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.navbar .navbar-nav .active {
	border-bottom: 1px solid white;
}

.navbar .navbar-nav .nav-item a {
	color: #3A3B3B;
}

.navbar .navbar-nav .nav-item a:hover {
	background-color: #d1c8c8;
	color: black;
}

.navbar .navbar-nav li a {}

.header-button .btn {
	margin-top: 40vh;
}

.row {
	margin: 15px;
}

.nav-link {
	cursor: pointer;
}


/*footer*/

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: black;
}

.social-icon a {
	margin: 0 16px 20px 16px;
	display: inline-block;
}

.social-icon .fa {
	color: black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: lightgray;
	line-height: 2;
	transition: .3s;
	border: 10px solid lightgray;
}

.social-icon a:hover .fa {
	border: 10px solid black;
}

.bordernow {
	width: 80px;
	border-bottom: 2px solid white;
	margin: 0 auto;
	margin-top: 20px;
}


/*body*/

#index-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ocean.jpg);
}

#account-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ocean.jpg);
}

#song-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ocean.jpg);
}


/*headers*/

#index-header {
	position: relative;
	margin-top: 5vh;
	height: 40vh;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/study_music.jpg);
}

#account-header {
	position: relative;
	margin-top: 5vh;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/study_music.jpg);
}

#song-header {
	position: relative;
	margin-top: 5vh;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/study_music.jpg);
}

.single-song {
	position: relative;
	display: flex;
	align-items: center;
	height: 8em;
	width: 80%;
	padding: 5px;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-song>div {
	color: black;
}

.song-img-wrap {
	margin: 0px 30px 0px 25px;
	width: 20%;
}

.img {
	width: 90%;
}

.vr {
	border-left: 1px solid #e6e6e6;
	height: 100%;
}

.title-and-views {
	margin-left: 30px;
}